/* NHO: blown away by the styles and design, very nice! CSS Validates! */
body {
  display: flex;
  font-family: 'Calligraffitti', cursive;
  background-color: black;
}

header {
  font-size: 50px;
  text-align: center;
  padding: 60px;
  color: white;
}

.board {
  height: auto;
}

.card {
  width: 150px;
  height: 200px;
  border: 2px solid white;
  color: black;
  float:left;
  border-radius: 5%;
  margin: 5px;
  background-color: white;
}

.back {
  /* NHO: reminder to remove unused/commented out code */
  /*background-color: green;*/
  background-image: url('pattern-background.jpg');
  /* NHO: love the photo credit and the fact that you downloaded locally to avoid future 404 errors!!! */
  /*Image found at http://4vector.com/free-vector/beautiful-pattern-background-03-vector-15044*/
  background-size: contain;
  color: transparent;
}

.face {
  text-align: center;
  font-size: 50px;
  padding-top: 15px;

}

.winner {
  text-align: center;
  font-size: 50px;
}

.buttonDiv {
  align-items: center;
}

.restart {
  margin-top: 30px;
  width: 100px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 15px;
  font-family: 'Handlee', cursive;
}

.restartReverse {
  background-color: white;
  color: black;
}
/* NHO: also great to see you incorporate flex-box and looks to be working very nicely with page responsiveness;
  one thing to consider would be to think about what you want your grid dimensions to be at each appropriate screen width
  */
