body {
  display: flex;
  font-family: 'Calligraffitti', cursive;
  background-color: rgb(218, 232, 241);
}

header {
  font-size: 50px;
  text-align: center;
  padding: 60px;
}

.board {
  height: auto;
}

.card {
  width: 150px;
  height: 200px;
  border: 2px solid black;
  color: black;
  float:left;
  border-radius: 5%;
  margin: 5px;
  background-color: white;
}

.back {
  background-color: green;
  color: transparent;
}

.face {
  text-align: center;
  font-size: 50px;
  padding-top: 15px;

}

.winner {
  text-align: center;
  font-size: 50px;
}

.buttonDiv {
  align-items: center;
}

.restart {
  margin-top: 30px;
  width: 90px;
  height: 40px;
}
